/gradle
gradlew
gradlew.bat
/submission-packages
.autograder
.private
.project
.classpath
.settings
.gradle
.DS_Store
videos
bin
build
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/Gradle___autograder_handin_1_0_0.xml
/.idea/libraries/Gradle___autograder_spec_1_0_0.xml
/.idea/libraries/Gradle___mobilecloud_handin_1_0_0.xml
/.idea/libraries/Gradle___video_up_test_1_0_0.xml
/.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
/.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_2.xml
/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_2.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_3_0.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_3_3.xml
/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_3_3.xml
/.idea/libraries/Gradle__com_github_davidmarquis_fluent_interface_proxy_1_3_0.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_2_4.xml
/.idea/libraries/Gradle__com_google_guava_guava_17_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit_retrofit_1_6_0.xml
/.idea/libraries/Gradle__commons_beanutils_commons_beanutils_1_9_4.xml
/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
/.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Gradle__dom4j_dom4j_1_6_1.xml
/.idea/libraries/Gradle__junit_junit_4_11.xml
/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_3_2.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_6.xml
/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_10.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_7_0_52.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_7_0_52.xml
/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_logging_juli_7_0_52.xml
/.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_7_0_52.xml
/.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_7_0_52.xml
/.idea/libraries/Gradle__org_aspectj_aspectjrt_1_7_4.xml
/.idea/libraries/Gradle__org_aspectj_aspectjweaver_1_7_4.xml
/.idea/libraries/Gradle__org_atteo_evo_inflector_1_0_1.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_continuation_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_http_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_io_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_jsp_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_security_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_server_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_servlet_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_util_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_webapp_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_jetty_xml_8_1_14_v20131031.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_com_sun_el_2_2_0_v201108011116.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_javax_el_2_2_0_v201108011116.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_javax_servlet_3_0_0_v201112011016.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_javax_servlet_jsp_2_2_0_v201112011158.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_javax_servlet_jsp_jstl_1_2_0_v201105211821.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_org_apache_jasper_glassfish_2_2_2_v201112011158.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_org_apache_taglibs_standard_glassfish_1_2_0_v201112081803.xml
/.idea/libraries/Gradle__org_eclipse_jetty_orbit_org_eclipse_jdt_core_3_7_1.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_4_0_4_Final.xml
/.idea/libraries/Gradle__org_hibernate_hibernate_core_4_3_1_Final.xml
/.idea/libraries/Gradle__org_hibernate_hibernate_entitymanager_4_3_1_Final.xml
/.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/.idea/libraries/Gradle__org_hsqldb_hsqldb_2_3_2.xml
/.idea/libraries/Gradle__org_javassist_javassist_3_18_1_GA.xml
/.idea/libraries/Gradle__org_jboss_jandex_1_1_0_Final.xml
/.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_1_3_GA.xml
/.idea/libraries/Gradle__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
/.idea/libraries/Gradle__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
/.idea/libraries/Gradle__org_mockito_mockito_core_1_9_5.xml
/.idea/libraries/Gradle__org_objenesis_objenesis_1_3.xml
/.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_7.xml
/.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_7.xml
/.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_7.xml
/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_7.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jetty_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_commons_1_7_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_5_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_core_2_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_webmvc_2_0_2_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_hateoas_spring_hateoas_0_9_0_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_plugin_spring_plugin_core_1_0_0_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_aop_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_aspects_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_beans_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_context_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_core_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_expression_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_jdbc_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_orm_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_test_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_tx_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_web_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_springframework_spring_webmvc_4_0_3_RELEASE.xml
/.idea/libraries/Gradle__org_yaml_snakeyaml_1_13.xml
/.idea/libraries/Gradle__xml_apis_xml_apis_1_0_b2.xml
/.idea/misc.xml
/.idea/mobile-cloud-asgn1.iml
/.idea/modules/mobile-cloud-asgn1.main.iml
/.idea/modules/mobile-cloud-asgn1.test.iml
/.idea/modules.xml
/.idea/vcs.xml
